/*Ha lopod a css em akkor este az agyad elott leszek es reggelre nem lesz vesed/fitymad*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

body.light-theme {
    background-color: #e2dcdc;
    color: #000000;
}

body.dark-theme {
    background-color: #000000;
    color: #ffffff;
}

.theme-selector {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-left: 20px; 
}

.theme-selector label {
    margin: 0;
}

.theme-selector select {
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: #333; 
    color: #fff; 
    border: 1px solid #9D00FF; 
    border-radius: 5px; 
    font-size: 1.6rem; 
    cursor: pointer;
}

.theme-selector select option {
    background-color: #333; 
    color: #fff; 
}

.home.light-theme {
    background-color: #e2dcdc;
    color: #000000;
}

.home.dark-theme {
    background-color: #000000;
    color: #ffffff;
}

.typing-text.light-theme span {
    color: #000000;
    background-color: transparent; 
}

.typing-text.dark-theme span {
    color: #ffffff;
    background-color: transparent; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.overlay.active {
    display: block;
}

.cookie-consent {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: #333c44;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 200%;
}

.cookie-consent button {
    background-color: #9D00FF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 150%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Távolság a kártyák között */
    height: 100vh;
}

.card {
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.card-front {
    background-size: cover;
    background-position: center;
}

.card-back {
    background-color: #333; 
    transform: rotateY(180deg);
}

.card1 .card-front {
    background-image: url('kepek/cisco.png'); 
}

.card2 .card-front {
    background-image: url('kepek/html.png'); 
}

.card3 .card-front {
    background-image: url('kepek/github.png'); 
}


header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #9D00FF;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #9D00FF;
    border-bottom: 3px solid #9D00FF;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

@media (max-width: 995px) {
    .hamburger {
        display: flex;
    }

    nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 40%;
        border-left: 3px solid #9D00FF;
        border-bottom: 3px solid #9D00FF;
        border-bottom-left-radius: 2rem;
        padding: 1rem;
        background-color: #000000;
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}

nav.light-theme a {
    color: #000000;
}

nav.light-theme a:hover,
nav.light-theme a.active {
    color: #9D00FF;
    border-bottom: 3px solid #9D00FF;
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home.light-theme {
    background-color: #e2dcdc;
    color: #000000;
}

.home.dark-theme {
    background-color: #000000;
    color: #ffffff;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: #9D00FF;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 10%;
    box-shadow: 0 0 25px solid #9D00FF;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    transform: scale(1.1);
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #9D00FF;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem;
    transition: 0.3s ease;
    color: #9D00FF;
    position: relative;
}


.social-icons a:hover::after {
    content: attr(data-hover-text);
    position: absolute;
    background-color: #9D00FF;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    top: -50px; 
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 10;
}


.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #9D00FF;
    box-shadow: 0 0 25px #9D00FF;
}

.hidden {
    display: none;
}

.animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}

.animation.fade-in {
    display: block;
    animation: fadeIn 1s forwards;
}

.animation.fade-out {
    animation: fadeOut 1s forwards;
}



@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #9D00FF;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #9D00FF;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #9D00FF;
    color: black;
    box-shadow: 0 0 25px #9D00FF;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "";
    color: #9D00FF;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

.typing-text.light-theme span::after {
    background-color: #e2dcdc;
    border-left: 3px solid #000000;
}

.typing-text.dark-theme span::after {
    background-color: #000000;
    border-left: 3px solid #ffffff; 
}

@keyframes cursor {
    to {
        border-left: 3px solid #9D00FF;
    }
}

@keyframes words {

    0%,
    20% {
        content: "Web Fejlesztő";
    }

    21%,
    40% {
        content: "Játék Fejlesztő";
    }

    41%,
    60% {
        content: "Web Designer";
    }

    81%,
    100% {
        content: "Gamer";
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}

.counter {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 1.6rem;
}

.radio {
    background: #454857;
    padding: 4px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3),
      0 0 0 3px rgba(185, 185, 185, 0.3);
    position: relative;
    display: inline-block; 
}

.radio input {
    width: auto; 
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 4px 8px;
    background: #454857;
    color: #bdbdbdbd;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transition: all 100ms linear;
    display: inline-block; 
}

.radio input:checked {
    background-image: linear-gradient(180deg, #7509ce, #7481bb);
    color: #fff;
    box-shadow: 0 1px 1px #0000002e;
    text-shadow: 0 1px 0px #79485f7a;
    -webkit-animation: rubberBand 1s both;
    animation: rubberBand 1s both;
}

.radio input:before {
    content: attr(label);
    display: inline-block;
    text-align: center;
    width: 100%;
}
  
  @-webkit-keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  


.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
  }
  
  .container .glass {
    position: relative;
    width: 280px;
    height: 300px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
  }
  
  .container:hover .glass {
    transform: rotate(0deg);
    margin: 0 10px;
  }
  
  .container .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height:40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .container .glass svg {
    font-size: 2.5em;
    fill: #fff;
  }
  

.reklam {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid #ffffff;
    border-radius: 10%;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.reklam:hover {
    transform: scale(1.1);
    border-color: lime;
}