/*Ha lopod a css em akkor este az agyad elott leszek es reggelre nem lesz vesed/fitymad*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.dark-theme {
    background-color: #000000;
    color: #ffffff;
}

.theme-selector {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap as needed */
    margin-left: 20px; /* Adjust the margin as needed */
}

.theme-selector label {
    margin: 0;
}

.theme-selector select {
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    border: 1px solid #9D00FF; /* Border color */
    border-radius: 5px; /* Rounded corners */
    font-size: 1.6rem; /* Font size */
    cursor: pointer;
}

.theme-selector select option {
    background-color: #333; /* Background color for options */
    color: #fff; /* Text color for options */
}

.home.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.home.dark-theme {
    background-color: #000000;
    color: #ffffff;
}

.typing-text.light-theme span {
    color: #000000;
    background-color: transparent; /* Ensure background is transparent */
}

.typing-text.dark-theme span {
    color: #ffffff;
    background-color: transparent; /* Ensure background is transparent */
}

.cookie-consent {
    position: fixed;
    bottom: 0%;
    left: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 150%;
}

.cookie-consent button {
    background-color: #9D00FF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 150%;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #9D00FF;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #9D00FF;
    border-bottom: 3px solid #9D00FF;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

@media (max-width: 995px) {
    .hamburger {
        display: flex;
    }

    nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 40%;
        border-left: 3px solid #9D00FF;
        border-bottom: 3px solid #9D00FF;
        border-bottom-left-radius: 2rem;
        padding: 1rem;
        background-color: #161616;
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: #9D00FF;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 10%;
    box-shadow: 0 0 25px solid #9D00FF;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    transform: scale(1.1);
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #9D00FF;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem;
    transition: 0.3s ease;
    color: #9D00FF;
    position: relative;
}


.social-icons a:hover::after {
    content: attr(data-hover-text);
    position: absolute;
    background-color: #9D00FF;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    top: -50px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 10;
}


.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #9D00FF;
    box-shadow: 0 0 25px #9D00FF;
}

.hidden {
    display: none;
}

.animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #9D00FF;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #9D00FF;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #9D00FF;
    color: black;
    box-shadow: 0 0 25px #9D00FF;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "";
    color: #9D00FF;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

.typing-text.light-theme span::after {
    background-color: #ffffff; /* White background for light theme */
    border-left: 3px solid #000000; /* Black cursor for light theme */
}

.typing-text.dark-theme span::after {
    background-color: #000000; /* Black background for dark theme */
    border-left: 3px solid #ffffff; /* White cursor for dark theme */
}

@keyframes cursor {
    to {
        border-left: 3px solid #9D00FF;
    }
}

@keyframes words {

    0%,
    20% {
        content: "Web Fejlesztő";
    }

    21%,
    40% {
        content: "Játék Fejlesztő";
    }

    41%,
    60% {
        content: "Web Designer";
    }

    81%,
    100% {
        content: "Gamer";
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}


.reklam {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid #ffffff;
    border-radius: 10%;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.reklam:hover {
    transform: scale(1.1);
    border-color: lime;
}